spring:
  application:
    name: notification-service
  profiles:
    default: local
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
      - org.springframework.boot.autoconfigure.security.servlet.UserDetailsServiceAutoConfiguration

security:
  jwt:
    secret: ${JWT_SECRET}
