# MySQL
EMPLOYEE_DB_NAME=database
EMPLOYEE_DB_USERNAME=user
EMPLOYEE_DB_PASSWORD=password

# MongoDB
APPROVAL_REQUEST_MONGO_USERNAME=user
APPROVAL_REQUEST_MONGO_PASSWORD=password
APPROVAL_REQUEST_MONGO_DB_NAME=approval-request
MONGO_REPL_KEY=bXlNdXN0RXhhbXBsZU1vbmdvUmVwbEtleTEyMzQ1Ng==
APPROVAL_REQUEST_MONGO_AUTH_DB=admin

# RabbitMQ
RABBITMQ_USERNAME=user
RABBITMQ_PASSWORD=password
